@import '../../styles/variables.scss';

.register {
    padding: 25px;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center; 
    &__form {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 40px;
    }
}