@import '../../../../styles/variables.scss';

.button {
    &__submit {
        border-radius: 10px;
        background: $main-color;
        padding: 20px 32px 20px 32px;
        width: 342px;
        font-size: 20px;
        color: $white-color;
        transition: all 0.3s ease;
        &:hover {
            box-shadow:  0 0 30px 0 rgba($main-color, 0.5);
        }
        &:focus {
            background-color: rgba($main-color, 0.8);
            outline: none;
            box-shadow: 0 0 0 2px rgba($main-color, 0.5); 
        }
    }
   
}