@import '../../../styles/variables.scss';

.input {
    font-size: 14px;
    font-weight: 400;
    position: relative;
    &__field {
        display: flex;
        flex-direction: column;
        gap: 12px;
        input {
            height: 52px;
            background-color: rgb(249, 255, 251);
            border: 1px solid rgb(227, 237, 246);
            border-radius: 10px;
            padding: 16px 24px;
            font-size: 14px;
            transition: all 0.3s ease;
            &:focus {
                outline: none;
                box-shadow: 0 0 0 2px rgba($main-color, 0.5); 
            }
        }
    }
    &__show-btn {
        position: absolute;
        width: 22px;
        height: 24px;
        top: 43px;
        right: 24px;
        cursor: pointer;
        background-color: white;
    }
    &__error {
        font-size: 12px;
        color: $red-color;
    }
}