$main-color: #53D269;
$white-color: #F9FFFB;
$white-toolbar-bg: rgba(249, 249, 249, 0.94);
$gray-color: #8D99A5;
$black-color: #000000;
$bg-main-color: #E3EDF6;
$main-text-color: rgb(9, 40, 31);
$red-color: red;