@import '../../styles/variables';

.login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    &__forgot {
        font-size: 18px;
        opacity: 0.7;
    }
    &__register {
        font-size: 20px;
        opacity: 0.5 ;
    }
}